.login_wrapper {
  width: 100%;
  color: #fff;
  background-color: #1c1d1f;
  height: 100vh;
  padding-top: 200px;

  @media screen and (max-width: 600px) {
    padding-top: 0px;
  }



  .container {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: #2d2f36;
    

    @media screen and (max-width: 600px) {
      width: 100%;
      border-radius: 0px;
      margin-top: 0px;
      padding-top: 100px;
      height: 100vh;
    }

    h1 {
      font-weight: normal;
      margin-bottom: 10px;
    }

    .invalid_credentials {
      color: #c83017;
      text-align: center;
    }

    .login_form {
      display: flex;
      flex-direction: column;
      margin-top: 0px;


      .form_group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        input {
          background-color: #3f414b;
          border-radius: 5px;
          padding: 20px 20px;
          border: 1px solid #2d2f36;
          margin-top: 5px;
          font-size: 16px;
          color: #fff;
          font-weight: 500;

          &:focus {
            outline: 0;;
            border: 1px solid #edc549;
          }
        }

        .errors {
          color: #c83017;
          font-size: 14px;
        }

        .errors_input {
          border:  1px solid #c83017;
        }

        button {
          background-color: #edc549;
          padding: 18px;
          font-size: 18px;
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #f8d25e;
          }
        }
      }
    }
  }
}