
 .app_nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  button {
    background-color: #ec407a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;
  }
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
