.app_pagination {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    
    li {
      list-style: none;
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: #2d2f36;;
      color: #fff;
      border-radius: 50%;
      margin-right: 5px;

      span {
        margin-top: 2px;
        display: inline-block;
        cursor: pointer;

        &:hover {
          opacity: 0.3;
        }
      }
    }
  }

  .prev_next {
    display: flex;

    span {
      background-color: #2d2f36;
      margin-left: 10px;
      padding: 2px 10px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;

      &:hover {
        opacity: .5;
      }
    }
  }
}