.pokelist_wrapper {
  display: flex;
  flex-direction: column;

  .pokemon_wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 5px 30px;

      .pokemon, .pokemon_mobile {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        background-color: #3f414b;
        border-radius: 5px;
        padding: 15px;
        color: #fff;
        margin-bottom: 5px;
    
        .avatar {
          width: 40px;
          height: 40px;
          background-color: #77afb7;
          border-radius: 50%;
          text-align: center;
          font-size: 24px;
          padding-top: 3px;
        }
    
        .name {
          margin: 5px 0 0 15px;
          font-size: 20px;
          display: flex;
          flex-direction: row;
    
          :first-child {
            color: #dbb132;
            margin-right: 10px;
          } 
        }
      }

      @media screen and (max-width: 736px) {
        .pokemon {
          display: none;
        }
      }

      @media screen and (min-width: 736px) {
        .pokemon_mobile {
          display: none;
        }
      }
  }
}