.page_wrapper {
  width: 100%;
  background-color: #484d57;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;


  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 560px) {
      width: 85%;
    }


    .content_wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #2d2f36;
      border-radius: 5px;

      .pokemons_list {
        width: 450px;
        background-color: #2d2f36;
        border-radius: 5px 0 0 5px;
      }
  
      .pokemon_view {
        background-color: #3b3e46;
        width: calc(100% - 450px);
        border-radius: 0 5px 5px 0;
      }

      @media screen and (max-width: 860px) {
        .pokemons_list {
          width: 350px;
          border-radius: 5px 5px 5px 5px !important;
        }

        .pokemon_view {
          width: calc(100% - 350px);
          border-radius: 5px 5px 5px 5px !important;
          display: flex;
        }
      }


      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0px;

        .pokemons_list {
          width:  100%;
          border-radius: 5px 5px 5px 5px !important;
        }

        .pokemon_view {
          width: 100%;
          border-radius: 5px 5px 5px 5px !important;
          display: none;
        }
      }
    }
  }
}