.view_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid #2d2f36;
    font-size: 24px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 736px) {
      display: none;
    }

    :last-child {
      color: #dbb132;
    }
  }

  .content {
    padding: 40px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 860px) {
      flex-wrap: wrap;
      
      .content_image {
        margin-right: 0px;

        .img {
          width: 200px;
        }
      }
    }

    @media screen and (max-width: 736px) {
      flex-wrap: wrap;

      .content_image {
        margin-right: 0px;

        .img {
          width: 200px;
        }
      }

      .content_info {
        margin-top: 200px;
      }
    }

    .content_image {
      margin-right: 30px;

      img {
        width: 100%;
      }
    }

    .content_info {
      color: #fff;
      display: flex;
      flex-direction: column;

      .sub_title {
        margin-top: 0px;
        h3 {
          font-weight: normal;
          color: #fff;
          font-size: 28px;
          margin: 0px;
          padding: 0px;
        }

        span {
          color: #dbb132;
        }
      }

      .sub_content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        .sub_content_info {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          .sub_content_title {
            font-weight: bold;
            color: #dbb132;
            margin: 0px;
          }

          .sub_content_details {
            display: flex;
            flex-direction: row;
            font-size: 14px;

            .sub_content_list {
              display: flex;
              justify-content: space-between;
              background-color: #2d2f36;
              padding: 2px 10px;
              border-radius: 5px;
              margin-top: 10px;
              width: 100px;
              margin-right: 20px;

              @media screen and (max-width: 480px) {
                background-color: #434444;
              }
            }
          }
        }

        .view_details {
          margin-top: 40px;

          button {
            width: 180px;
            display: flex;
            justify-content: space-between;
            padding: 13px 20px 7px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 18px;
            background-color: #77afb7;
          }
        }
      }
    }
  }

}