.page_wrapper {
  width: 100%;
  background-color: #484d57;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  .content_wrapper {
    width: 80%;
    margin: auto;

    @media screen and (max-width: 560px) {
      width: 85%
    }

    .header_wrapper {
    
      header {
        text-align: center;
        font-size: 42px;
        color: #fff;
  
        @media screen and (max-width: 560px) {
          font-size: 28px;
        }
        
    
        h3 {
          font-weight: normal;
          margin-bottom: 20px;
    
          :last-child {
            color: #f2c94c;
          }
        }
      }
    
      .bread_crumb {
        margin: 10px auto;
        font-size: 18px;
  
        @media screen and (max-width: 560px) {
          font-size: 16px;
          
          span {
            margin-right: 5px;
          }
        }
    
        span {
          margin-right: 10px;
          color: #fff;
        }
    
        .link {
          color: #f2c94c;
    
          :hover {
            opacity: 0.5;
          }
        }
    
        .icon {
          color: #988a5f;
    
          .fi_icon {
            display: inline-block;
          }
        }
      }
    }
  
    .container {
      display: flex;
      flex-direction: row;
      margin: auto;
      background-color: #2d2f36;
      border-radius: 5px;
      padding: 40px;
  
      @media screen and (max-width: 520px) {
        padding: 20px;
      }
  
      .content {
        padding: 40px;
        display: flex;
        flex-direction: row;
  
        @media screen and (max-width: 520px) {
          padding: 20px 10px;
          flex-wrap: wrap;
        }
    
        .content_image {
          margin-right: 30px;
    
          img {
            width: 100%;
          }
        }
    
        .content_info {
          color: #fff;
          display: flex;
          flex-direction: column;
    
          .sub_title {
            margin-top: 0px;
            h3 {
              font-weight: normal;
              color: #fff;
              font-size: 42px;
              margin: 0px;
              padding: 0px;
            }
    
            span {
              color: #dbb132;
            }
          }
    
          .sub_content {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
    
            .sub_content_info {
              display: flex;
              flex-direction: column;
              margin-bottom: 20px;
    
              .sub_content_title {
                font-weight: bold;
                color: #dbb132;
                margin: 0px;
              }
    
              .sub_content_details {
                display: flex;
                flex-direction: row;
                font-size: 18px;
    
                .sub_content_list {
                  display: flex;
                  justify-content: space-between;
                  background-color: #45484f;
                  padding: 2px 10px;
                  border-radius: 5px;
                  margin-top: 10px;
                  width: 120px;
                  margin-right: 20px;
                }
              }
            }
    
            .view_details {
              margin-top: 40px;
    
              button {
                width: 180px;
                display: flex;
                justify-content: space-between;
                padding: 13px 20px 7px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                color: #fff;
                font-size: 18px;
                background-color: #77afb7;
              }
            }
          }
        }
      }
    }
  }

  
}